<% if user_signed_in? == true %>

<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.hidden_field :commenter, :value => current_user.email %>
  </p>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit class: "btn btn-info" %>
  </p>
<% end %>

<% else %>

<p>Please <%= link_to('Login', new_user_session_path)  %>  to add a comment</p>

<% end %>
