<% @articles.each do |article| %>
  <div className="card border-secondary mb-3">
    <h4 className="card-header">
      <%= article.title %><br/>
    </h4>
      <small>
        <%= article.created_at.strftime("Created At: " '%-H:%-M:%-S %-b %-d, %Y') %>
      </small>
    <div className="card-body">
      <p className="card-text"><%= article.text %></p>
      <p className="card-text">
        <%= link_to 'Show', article_path(article), class: "card-link" %>
        <% if user_signed_in?%>
          <%= link_to 'Edit', edit_article_path(article), class: "card-link"  %>
          <%= link_to 'Delete', article_path(article),
                                class: "card-link",
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
      <% end %>
      </p>
    </div>
  </div>
  <hr />
<% end %>
