<div style="padding:10px;">
<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>
</div>
<table>
  <tr>
    <th style="padding:10px;">Title</th>
    <th style="padding:10px;">Text</th>
    <th style="padding:10px;" colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td style="padding:10px;"><%= article.title %></td>
      <td style="padding:10px;"><%= article.text %></td>
  </tr>
  <tr>
      <td style="padding:10px;"><%= link_to 'Show', article_path(article) %></td>
      <td style="padding:10px;"><%= link_to 'Edit', edit_article_path(article) %></td>
      <td style="padding:10px;"><%= link_to 'Destroy', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
</table>
